h1,h2,h3,h4 {
    padding: 0;
    margin: 0;
}
textarea, input {
    border: none;
    outline: none;
}
html, body {
    margin: 0;
    background-color: #efefef;
    font-family: sans-serif;
}
.wrapper {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    margin: 0 auto;
    background-color: #ddd;
}
#loginWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 5, 5, .6);
    text-align: center;
    color: #fff;
    display: block;
    padding-top: 200px;
}
#nickWrapper {
    display: none;
}
.banner {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    background: url('../image/3.jpg') center/100% 80px no-repeat content-box;
    text-align: center;
}
.banner h1 {
    line-height: 80px;
    font-size: 20px;
    color: #09c;
}
.controls {
    height: 31px;
    width: 100%;
    margin: 5px 0px;
    position: fixed;
    bottom: 0;
}
#historyMsg {
    height: 400px;
    background-color: #fff;
    overflow: auto;
    padding-top: 82px;
    padding-bottom: 20px;
}
#historyMsg img {
    max-width: 99%;
}
.timespan {
    font-size: 14px;
    color: #ddd;
}
.items {
    height: 30px;
}
#colorStyle {
    width: 50px;
    border: none;
    padding: 0;
}
/*custom the file input*/

.imageLable {
    position: relative;
}
#sendImage {
    position: absolute;
    width: 52px;
    left: 0;
    opacity: 0;
    overflow: hidden;
}
/*end custom file input*/

#messageInput {
    width: 70%;
    max-width: 70%;
    height: 30px;
    max-height: 90px;
    border: 1px solid black;
    resize: none;
}
#sendBtn {
    width: 100px;
    height: 34px;
    line-height: 34px;
    border: 1px solid black;
    text-align: center;
    float: right;
}
#emojiWrapper {
    display: none;
    width: 500px;
    bottom: 105px;
    position: absolute;
    background-color: #aaa;
    box-shadow: 0 0 10px #555;
}
#emojiWrapper img {
    margin: 2px;
    padding: 2px;
    width: 25px;
    height: 25px;
}
#emojiWrapper img:hover {
    background-color: blue;
}
.emoji{
    display: inline;
}
footer {
    text-align: center;
}